@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

$white: #FFFEFB;
$delete-btn-color:#FF8484;
$delete-btn-color-active:  #fd5e5e;
$black: #3F3F3F;
$light-green: #7BAE73;
$light-green-hover: #6eaf64;